<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <rm_pagseguro_cc>
                <active>1</active>
                <payment_action>order</payment_action>
                <model>RicardoMartins\PagSeguro\Model\Method\Cc</model>
                <title>Cartão de Crédito via PagSeguro UOL</title>
                <order_status>pending</order_status>
                <flag>42x20</flag>
                <send_neworder_email>0</send_neworder_email>
                <group_restriction>0</group_restriction>
                <info_brl>1</info_brl>
                <show_total>0</show_total>
                <force_installments_selection>0</force_installments_selection>
            </rm_pagseguro_cc>
            <rm_pagseguro>
                <title>PagSeguro UOL</title>
                <model>RicardoMartins\PagSeguro\Model\Payment</model>
                <debug>1</debug>
                <address_street_attribute>street_1</address_street_attribute>
                <address_number_attribute>street_2</address_number_attribute>
                <address_complement_attribute>street_3</address_complement_attribute>
                <address_neighborhood_attribute>street_4</address_neighborhood_attribute>
            </rm_pagseguro>
            <rm_pagseguro_boleto>
                <active>1</active>
                <payment_action>order</payment_action>
                <title>Boleto - via PagSeguro UOL</title>
                <order_status>holded</order_status>
                <sort_order>2</sort_order>
                <model>RicardoMartins\PagSeguro\Model\Method\Boleto</model>
                <allowspecific>0</allowspecific>
            </rm_pagseguro_boleto>
            <rm_pagseguro_tef>
                <active>1</active>
                <payment_action>order</payment_action>
                <title>PagSeguro - TEF - Ricardo Martins</title>
                <order_status>holded</order_status>
                <sort_order>3</sort_order>
                <model>RicardoMartins\PagSeguro\Model\Method\Tef</model>
                <allowspecific>0</allowspecific>
            </rm_pagseguro_tef>
            <rm_pagseguro_pagar_no_pagseguro>
                <active>1</active>
                <title>PagSeguro Pagar no PagSeguro Ricardo Martins</title>
                <order_status>pending</order_status>
                <description><![CDATA[Você será redirecionado para o PagSeguro onde poderá escolher a forma de pagamento desejada.]]></description>
                <payment_action>order</payment_action>
               <!--  <sort_order>4</sort_order>
                <enable_recovery>1</enable_recovery>
                <disable_frontend>0</disable_frontend>
                <accepted_groups>CREDIT_CARD,BOLETO</accepted_groups> -->
                <model>RicardoMartins\PagSeguro\Model\Method\Redirect</model>
            </rm_pagseguro_pagar_no_pagseguro>
        </payment>
    </default>
</config>