<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="PagSeguroLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers"  xsi:type="array">
                <item name="debug" xsi:type="object">RicardoMartins\PagSeguro\Logger\Handler\Custom</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="RicardoMartins\PagSeguro\Helper\Data">
        <arguments>
            <argument name="customLogger" xsi:type="object">PagSeguroLogger</argument>
        </arguments>
    </type>

</config>