<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="rm_pagseguro" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>PagSeguro - General Settings - Ricardo Martins</label>
                <comment><![CDATA[Need help? - <a href="//r-martins.github.io/PagSeguro-Magento-Transparente" target="_blank">Official site of the module</a> | <a href="//pagsegurotransparente.zendesk.com/hc/pt-br" target="_blank">Help Center</a>.<br/> To use this module you need to get your free unlimited public key <a href="//r-martins.github.io/PagSeguro-Magento-Transparente/pro/app.html" target="_blank"><strong>authorizing your PagSeguro account</strong></a> in the application model or sign up for a key under the <a href="//r-martins.github.io/PagSeguro-Magento-Transparente/pro/" target="_blank">monthly subscription</a> model.]]></comment>
                <field id="merchant_email" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Email</label>
                    <comment>Store email (seller account)</comment>
                </field>
                 <field id="token" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Token</label>
                     <comment>The token is fetched from your PagSeguro account panel.</comment>
                </field>
                <field id="key" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Public Key</label>
                    <comment><![CDATA[Get your public key for free when <a href="//r-martins.github.io/PagSeguro-Magento-Transparente/pro/app.html" target="_blank">enabling your account</a>.]]></comment>
                </field>
                <!-- <field id="sandbox" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Test environment?</label>
                    <comment><![CDATA[In test mode, the data is sent to the sandbox of PagSeguro. Enable Sandbox access <a href="http://sandbox.pagseguro.uol.com.br/" target="_blank">here</a><br/>
                    Note: The Sandbox mode still does not work in the application template.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> -->
                 <field id="debug" translate="label comment" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Debug</label>
                    <comment><![CDATA[See the log output in var/log/pagseguro.log. It is recommended that you enable logging for information about any issues.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="send_invoice_email" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Send invoice email?</label>
                    <comment><![CDATA[Shoot the invoice email from the store upon receipt of payment confirmation from PagSeguro.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="customer_cpf_attribute" translate="label comment" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Customer CPF</label>
                    <comment><![CDATA[If your store uses a custom attribute for the customer's CPF, select here. Otherwise choose "Request along with the other payment details".]]></comment>
                   <source_model>RicardoMartins\PagSeguro\Model\System\Config\Source\Cpf</source_model>
                </field>
               <field id="address_street_attribute" translate="label comment" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Attribute Delivery Street</label>
                    <comment><![CDATA[If your store uses a custom attribute for Delivery Street, select here.]]></comment>
                   <source_model>RicardoMartins\PagSeguro\Model\System\Config\Source\Attributes</source_model>
                </field>
                <field id="address_number_attribute" translate="label comment" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Attribute Number</label>
                    <comment><![CDATA[If your store uses a custom attribute for the 'Number' field, select here.]]></comment>
                   <source_model>RicardoMartins\PagSeguro\Model\System\Config\Source\Attributes</source_model>
                </field>
                <field id="address_complement_attribute" translate="label comment" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Attribute Complement</label>
                    <comment><![CDATA[If your store uses a custom attribute for the 'Complement' field of delivery, select here. You can omit this information from PagSeguro.]]></comment>
                   <source_model>RicardoMartins\PagSeguro\Model\System\Config\Source\Attributes\Optional</source_model>
                </field>
                <field id="address_neighborhood_attribute" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Neighborhood Attribute</label>
                    <comment><![CDATA[If your store uses a custom attribute for the Delivery Neighborhood field, select here.]]></comment>
                   <source_model>RicardoMartins\PagSeguro\Model\System\Config\Source\Attributes</source_model>
                </field>
            </group>
            <group id="rm_pagseguro_cc" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>PagSeguro - Credit Card - Ricardo Martins</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                 <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Title</label>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                 <field id="flag" translate="label comment" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Card Brand Size</label>
                    <comment><![CDATA[Exemplos: <br/><img src="//stc.pagseguro.uol.com.br/public/img/payment-methods-flags/42x20/visa.png" title="42x20"/><img src="//stc.pagseguro.uol.com.br/public/img/payment-methods-flags/68x30/visa.png" title="68x30"/>]]></comment>
                    <source_model>RicardoMartins\PagSeguro\Model\System\Config\Source\Ccbrand</source_model>
                </field>
                <field id="info_brl" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show notice that the transaction is made in Brazil</label>
                    <comment><![CDATA[This information MUST contain on your checkout by Visa determination.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="owner_dob_attribute" translate="label comment" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Date of birth</label>
                    <comment><![CDATA[Date of birth of the credit card owner is mandatory for PagSeguro.]]></comment>
                   <source_model>RicardoMartins\PagSeguro\Model\System\Config\Source\Customer\Dob</source_model>
                </field>
                <field id="sort_order" translate="label comment" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="group_restriction" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable group restriction</label>
                   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="customer_groups" translate="label comment" type="multiselect" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Customer Groups</label>
                    <comment><![CDATA[Client groups that can use this method.]]></comment>
                   <source_model>Magento\Customer\Model\Config\Source\Group\Multiselect</source_model>
                   <depends><field id="group_restriction">1</field></depends>
                </field>
                <field id="show_total" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Display total amount in the installment selector</label>
                    <comment><![CDATA[When enabled, the total order value is displayed along with the parceling information.]]></comment>
                   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="force_installments_selection" translate="label comment" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Force parcel selection</label>
                    <comment><![CDATA[When enabled, it will force the customer to select the installments amount instead of leaving payment to the pre-selected view.]]></comment>
                   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
