.checkout-payment-method .input-text.ps_cc_birthdate, .checkout-payment-method .input-text.cc-exp-date {
	width: 50px !important;
}
.checkout-payment-method .input-text.ps_cc_birthdate_year {
    width: 55px !important;
}

.input-text.cc_number_visible {
	background-image: url('../images/cc-placeholder.png');
	background-size: 35px 20px;
	background-position: 5px 5px;
	background-repeat: no-repeat;
}

.checkout-payment-method .input-text.cc_number_visible{
	padding-left:50px;
}

.checkout-payment-method .ccard .fields .select-installments {
	padding-left: 5px;
	padding-right: 25px;
}

#ps_installments_max {
    display: block;
    text-decoration: underline;
    cursor: pointer;
}

.ps_installments_option .ps_installments_list .ps_installments_external {
    display: block;
}
